
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat;
}

body{
  background-color: grey;
}
.external-container{
  background-color: #ffffff;
  margin:0 auto;
  width:550px;
  height:95vh;
  position: relative;
  top:5vh;
  border-radius: .5rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

}

#title{
  position: relative;
  top:2%;
  letter-spacing: 1px;
  text-align: center;
  font-size: 50px;

}
.inner-container{
    width:550px;
    height:584px;
    background-color:blue;
    margin: 0 auto;
    position: relative;
    top:40px;    
  border-radius: .5rem;
}

.Logout-container{
  width:300px;
  margin: 0 auto;
  position: relative;
  top:2vh;
  text-align: center;

}

#logout-button{
  color: #000000;
  position: relative;
  font-size: 20px;
  padding: 10px 10px;
  background-color:#ffffff;
  border:none;  
  border-radius: .5rem;
  cursor: pointer;
  
  transition:.3s;
}

#logout-button:hover{
  background-color: #000;
  color:#fff;
}

.open-search-container{
  width:300px;
  margin: 0 auto;
  height:50px;
  position: inherit;
  top:6vh;
}

.open_close_search{
  width:200px;
  background-color:#111827;
  color:#fff;
  margin:0 auto;
  border:none;
  position: inherit;
  top:1vh;
  border-radius: .5rem;
  letter-spacing:1px;
  margin: 0 auto;
  display: block;  
  padding: .55rem 1rem;
}








/* .main-container{
    width:320px;
    height:550px;
    background-color:blue;
    position: relative;
    top:40px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    border-radius: .5rem;
} */



.input-container{
  margin: 0 auto;
  width:300px;
  position: relative;
  top:60px;
  height:50px;
  display:none;
}



input:focus{
  outline:none;
  
}

input{
  padding: .75rem 1rem;
  border-radius: .5rem;
  border:0;
  background-color:#111827;
  margin-left: 10px;
  color:#ffffff;
  caret-color: #ffffff;
}
.message-container{
  width:400px;
  height:50px;
  margin: 0 auto;
  position:relative;
  top:80px;
  text-align:center;
}



#button {
  background-color: #111827;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #111827;
}

.button-focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}



