@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat;
}

body{
  background-image: url(.);
}


.main-container{
    width:700px;
    height:500px;
    position: relative;
    top:90px;
    background-color: green;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}


#title{
    position: relative;
    top:50px;
    letter-spacing: 1px;
    text-align: center;
  
}

.input-container{
    margin: 0 auto;
    width:300px;
    position: relative;
    top:60px;
    height:50px;
}

input{
  padding: .75rem 1rem;
  border-radius: .5rem;
  border:0;
  margin-left: 10px;
}




#button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: rgb(249,250,251);
}

.button-focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

